<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>sportsKeyword</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'kets.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'mainpage:index' %}">
            <div class="title d-flex justify-content-left ms-4">
                <span class="titleToday">TODAY&nbsp;</span>
                <span class="titleKeyword">KEYWORD</span>
            </div>
        </a>
    </header>

    <section class="mt-5 position-absolute top-50 start-50 translate-middle" style="width: 90%; height: 70%; text-align: center;">
        <section class="newsSection">
            <div class="news main-news badge rounded-4">
                <div>
                    <div class="detail-newspaper pt-3 pb-3">{{ news_data.company }}</div>
                    <div class="newsTitle text-wrap mb-2">{{ news_data.title }}</div>
                    <div class="detail-newsTimeReporter mb-2 fw-bolder">
                        <div>{{ news_data.datetime }}</div>
                        <div>{{ news_data.reporter }}</div>
                    </div>
                    <div class="detail-newscontent text-wrap pt-2 fw-normal">
                        {% for t in news_data.summary %}
                            <p>{{ t }}</p>
                        {% endfor %}
                    </div>
                    <div class="detail-url">
                        <a href="{{news_data.url}}" style="color: #4587E3;">원문으로 이동</a>
                    </div>
                </div>
            </div>
        </section>

        <article class="remainNewslist">
            {% for i in newslist %}
                <a href="{% url 'mainpage:details' keyword i.id %}">
                    <div class="remainNews extra badge rounded-4 mb-1 d-flex flex-column justify-content-center align-items-center">
                        <div class="newspaper pb-2 fw-normal">{{ i.company }}</div>
                        <div class="headline text-wrap fw-bolder">{{ i.title }}</div>
                    </div>
                </a>
            {% endfor %}
        </article>
    </section>
</body>