<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>sportsKeyword</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'kets.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'mainpage:index' %}">
            <div class="title d-flex justify-content-left ms-4">
                <span class="titleToday">TODAY&nbsp;</span>
                <span class="titleKeyword">KEYWORD</span>
            </div>
        </a>
    </header>

    <section class="newlist mt-5">

        {% for i in newslist_content %}
            <a href="{% url 'mainpage:details' keyword i.id %}">
                <div class="news newslist-blue-border badge rounded-4">
                    <div class="newspaper pt-2">{{ i.company }}</div>
                    <hr>
                    <div class="newscontent text-wrap">{{ i.title }}</div>
                    <div class="newsTimeReporter">
                        <div>{{ i.datetime }}</div>
                        <div>{{ i.reporter }}</div>
                    </div>
                </div>
            </a>
        {% endfor %}

    </section>
</body>